
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

button {
  font-size: 20%;
  padding: 10px 20px;
  margin: 0 10px;
}

.error-message {
  display: none;
  color: red;
  font-size: 10px;
}
